
<script type="text/javascript">
  window.images={
    logo: "<%= asset_path('logo.png')%>",
    loginpic: "<%= asset_path('loginpage.png')%>",
    splash: "<%= asset_path('splash.png')  %>"
  }
  </script>
<main id="root"></main>
