// Place all the styles related to the api/search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.result-drop-ul {
    color: aquamarine;
    display: inline;
    list-style-type: none;
    position: absolute;
    left: 27vw;
    top: 5.7vh;
    z-index: 1;
    min-width: 23vw;
    background: #1b1b1d;
    padding: 3vh 6vw 3vh 2vw;
}

.result-li {
    color: white;
    min-height: 4vh;
    padding: 0.5vh 2vw;
    min-width: 26vw;
}


.search-form{
    margin-top: -4vh;
    display: inline;
}
.search-input-black{
    outline: none;
}
#search-link{
    text-decoration: none;
    display:flex;
    align-items: center;
}

#search-result-ticker{
    color: aquamarine;
    font-size: 13px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
     min-width: 7vw;
     padding-top: 0.7vh;
}

#search-result-company{
    color: aquamarine;
    font-size: 13px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.7vh;
    padding-left: -3vw;
}

.result-li:hover{
    background: rgb(18, 17, 17);
    cursor: pointer;
}