.company-container{
    margin: 6vw 10vw;
    position: relative;
}


.company-info > li {
    color: white;
}

#company-name {
    color: white;
    font-size: 45px;
    font-weight: 400;
}
#price {
    font-size: 45px;
    margin-top: -30px;
}
#pchange {
   margin-top: -67px;
}

ul > li {
    style: none;
}
h2, h5, p {
    color: white;
}

h5 {
    font-size: 28px;
}

#about {
     color: white;
    font-size: 36px;
    font-weight: 100;
    max-width: 60%;
}
#description {
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 50%;
}
.add {
    position: absolute;
    top: 1vh;
    left: 55vw;
    min-width: 13vw;
}
#appr{
    width:80%;
}

#addwatch{
    border: 1px solid aquamarine;
    border-radius: 4px;
    padding: 6px 8px;

    min-height: 2vw;
    text-align: center;

}
#addp {
    color: aquamarine;
    margin-top: 9px;
    font-weight: bold;
}
button {
    background: none;
    border: none;
}