.company-container{
    margin: 6vw 10vw;
    position: relative;
    background: #1b1b1d;
}


.company-info > li {
    color: white;
}

#company-name {
    color: white;
    font-size: 45px;
    font-weight: 400;
    min-width: 6vw;
}
#price {
    font-size: 45px;
    margin-top: -30px;
    display: inline;

}
#pchange {
    position: absolute;
    margin-top: 68px;
    display: inline-block;
    font-size: 20px;
    left: 0px;
}

h2, h5, p {
    color: white;
}

h5 {
    font-size: 28px;
}

#about {
     color: white;
    font-size: 36px;
    font-weight: 100;
    max-width: 60%;
}
#description {
    font-size: 17px;
    letter-spacing: 1px;
    max-width: 50%;
}
.add {
    position: absolute;
    top: 1vh;
    left: 55vw;
    min-width: 13vw;
    float: right;
}
#appr{
    width:80%;
}

#addwatch{
    border: 1px solid aquamarine;
    border-radius: 4px;
    padding: 6px 8px;
    position:fixed;
    min-height: 2vw;
    min-width: 13vw;
    text-align: center;

}
#addp {
    color: aquamarine;
    margin-top: 9px;
    font-weight: bold;
}
.chart-range{
    padding: 1% 1% 1% 0;
    // border-bottom: 1px solid black;
    width: 50%;
    box-sizing: border-box;
    // position: relative;

}
button {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    padding: 0 3% 0 0;
    font-weight: bold;
    
}
button:focus {
    color: aquamarine;
    padding-bottom: 3%;

    // position: absolute;
}
table {
    margin-left: -3vw;
    position: relative;
}
td {
    color: white;
    padding: 0.6vh 3vw;

}
.thead{
    font-weight: 1200;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 10vw;
  margin-left: 25vw;
  list-style-type: none;
}

.account-button{
  border-bottom: 2px solid transparent;
  font-size: 13px;
  color: white;
  font-weight:bold;
  margin-left: 54%;
  letter-spacing: 1px;
}
.account-button:hover {
  border-bottom: 2px solid aquamarine;
  color: aquamarine;
  cursor: pointer;

}

.dropdown-content {
  position: absolute;
  top: 40%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  border: none;
  color: white;
  background-color: #1b1b1d;
  min-width: 17vw;
  left: -7vw;
  padding-inline-start: 0;
}

.dropdown-content {
  list-style-type: none;
}

.dropdown-content > li {
  padding: 15px;
}
.dropdown-img {
  width: 6%;
  height: 6%;
  padding-right: 2vw;
}
.dropdown-content > li:hover  {
  background:rgb(21, 20, 20);
  cursor: pointer;
}

li > h6 {
  color: white;
}