header {
  padding-bottom: 2%;
  display: inline;
  width: 100vw;
  min-height: 10vh;
}
body {
  min-height: 200%;
  margin: 0;
}
main {
  min-height: 200%;
}

.header-link {
  text-decoration: none;
  margin-left: 7%;
  font-family: 'Roboto', sans-serif;
  display:inline;
  width: 100vw;
}

/*LOGGEDIN*/
.loggedin{
    background-color: #1b1b1d;
    width: 100%;
    height: 200%;
  }


.search-black {
  display: inline;
  width: 35vw;
  margin-left: 14%;
  border: 0.7px solid black;
  padding: 8px 11px;
  border-radius: 3px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #1b1b1d;
  min-height: 4vh;
  box-shadow: 0px -7px 10px #21ce99;

}
.search-input-black{
  border: none;
  background-color: #1b1b1d;
  width: 30vw;
  font-size: 17px;
  
}

.search-black:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  color: white;
  cursor: pointer;
}
.search-black:focus{
  box-shadow: 0px -7px 10px #21ce99;
  border: none;
  color: white;
  outline: none;
}
.magwhite{
  width: 1%;
  height: 1%;
  padding: 0 9px;
  display: relative;
  top: 3px;
}

.logowhite {
  width: 4%;
  height: 4%;
  display: inline;
  margin-left: 1%;
  margin-top: 8px;
  margin-right: 9%;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 10vw;
  margin-left: 18vw;
  list-style-type: none;
  
}

.account-button{
  border-bottom: 2px solid transparent;
  font-size: 13px;
  color: white;
  font-weight:bold;
  letter-spacing: 1px;
}
.account-button:hover {
  border-bottom: 2px solid aquamarine;
  color: aquamarine;
  cursor: pointer;

}

.dropdown-content {
  position: absolute;
  top: 40%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  color: white;
  background-color: #1b1b1d;
  min-width: 17vw;
  right: 7vw;
  padding-inline-start: 0;
}

.dropdown-content {
  list-style-type: none;
}

.dropdown-content > li {
  padding: 15px;
}
.dropdown-img {
  width: 6%;
  height: 6%;
  padding-right: 2vw;
}
.dropdown-content > li:hover  {
  background:rgb(21, 20, 20);
  cursor: pointer;
}

li > h6 {
  color: white;

}

#logout-link {
  text-decoration: none;
  color: white;
}
.loggedin-body{
  margin: 10vh 15vw;
  background: #1b1b1d;
  min-height: 150vh;
  position: relative;
}

.loggedin-h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 1vw;
  margin-bottom: 0;
}
.default-chart{
  position: absolute;
  display: inline-block;
  width: 50vw;
  height: 40vh;
  background-color:#1b1b1d;
  margin-top: 20px;
  
}

.review{
  border: 1px solid black;
  width: 69%;
  height: 10%;
  position: absolute;
  top: 34%;
  align-items: center;
}

.review > h6 {
  color: white;
  margin: 3vh 3vw;
  text-align: left;
}
#app-review{
  color: grey;

}
.company-watchlist {
  margin-top: -20px;
  margin-left: 53vw;

  position: relative;
  
}
.watchlist-ul{
  list-style-type: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1.5);
  min-width: 20vw;
  background: #1b1b1d;
} 
ul.watchlist-ul {
  margin-left: 0;
  padding-inline-start: 0px;
}
#watchlist-header{
  padding: 10% 7%;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.watchlist-ul > li {
  color: white;
  width: 86%;
  height: 87%;

  margin: auto;
}
.company-li{
  padding: 3% 7%;
  margin: 3px 0 0px 3px;
  font-size: 17px;

}
.company-li:hover {
  background: #232326;
  cursor: pointer;
}

#watchlist-link{
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#watch-item{
  padding-top: 4.3%;
}


/*LOGGEDOUT*/

.header-link > h4 {
  display: inline-block;
  font-size: 27px;
  color: black;
}
.default-searchbar {
  display: inline;
  // width: 30vw;
  margin-left: 13%;
  border: 0.7px solid rgba(128, 128, 128, 0.405);
  padding: 8px 11px;
  border-radius: 3px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  background-color: white;
}
.search-bar:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  cursor: pointer;
}
.search-bar:focus{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
}
.mag{
  position: relative;
  top: 3px;
  width: 1%;
  height: 1%;
  padding: 0 9px;
}
.search-input{
 border:  none;
 font-size: 15px;
 width: 28vw;
}
.search-input:focus{
 outline: none;
}
.home-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
     width: 72vw;
    margin: auto;
}
.home-free{
    width: 40%;
    margin-top: 16vh;

}

.home-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-left: 7%;
  margin-bottom: 10px;
  max-width: 391px;
  letter-spacing: 1.5px;
}
.home-p {
    margin-left: 8%;
    font-weight: 30;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 29px;
    color: black;
}

.below-free{
  margin: 19% 8%;;
  border-radius: 30px;
  padding: 12px 20px;
  background-color: #21ce99;
  color: white;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
  font-weight: bold;
}
.below-free:hover {
  text-decoration: underline;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.home-free > h3 {
  margin-left: 8%;
  color: #21ce99;;
  font-size: 15px;
  font-family:'Roboto', sans-serif;
  font-weight: 100;
  margin-top: 3vh;
}
.two-phones{
    height: 100%;
    overflow:hidden;
    z-index: -4;
}
.two-phones > img{
  z-index: -3;
  margin-top: 10%;
  margin-left: -1%;
  transform: translateY(-10%);
  -webkit-transition: height 0.9s ease-in-out;
  transition: height 0.9s ease-in-out;
}

h2 {
    color: black;
    padding-right: 7%;
    font-family: 'Roboto', sans-serif;
 
}
.logout-button{
  border-radius: 30px;
  padding: 7px 15px;
  background-color: rgba(140, 500, 212, 1.5);
  margin-top: -25px;
  margin-left: 10vw;
  display: inline;
  font-family: 'Roboto', sans-serif;
  border-style: none;
}
.logout-button > h6 {
  color: white;
  font-style: bold;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 4%;
  height: 4%;
  display: inline;
  margin-left: 1%;
  margin-top: 8px;
}
.login-signup{
  display: inline;
  margin-left: 10vw;
  align-items: right;
  font-family: 'Roboto', sans-serif;

}
.login-button {
  font-weight: 800;
  padding-right: 2%;
  color:black;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.login-button:hover {
  color: #21ce99;
  cursor: pointer;
  text-decoration: underline;
}
.signup-button {
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 12px 20px;
  background-color: #21ce99;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.signup-button:hover{
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}


