@media (max-width: 1000px){
header {
  padding-bottom: 2%;
  display: inline;
  width: 100vw;
  min-height: 10vh;
}
body {
  min-height: 200%;
  margin: 0;
}
main {
  min-height: 200%;
}

.header-link {
  text-decoration: none;
  margin-left: 7%;
  font-family: 'Roboto', sans-serif;
  display:inline;
}


.result-drop-ul {
    color: #21ce99;
    display: inline;
    list-style-type: none;
    position: absolute;
    left: 33vw;
    top: 5.7vh;
    z-index: 1;
    min-width: 23vw;
    background: #1b1b1d;
    padding: 3vh 6vw 3vh 2vw;
}

.result-drop-ul-logout {
    color: #21ce99;
    display: inline;
    list-style-type: none;
    position: absolute;
    left: 33vw;
    z-index: 1;
    min-width: 23vw;
    background: #1b1b1d;
    padding: 3vh 6vw 3vh 2vw;
}

.result-li {
    color: white;
    min-height: 4vh;
    padding: 0.5vh 2vw;
    min-width: 26vw;
}
.result-li-logout {
    color: black;
    min-height: 4vh;
    padding: 0.5vh 2vw;
    min-width: 26vw;
}


.search-form{
    margin-top: -4vh;
    display: inline;
    z-index: 3;
}
.search-input-black{
    outline: none;
}
#search-link{
    text-decoration: none;
    display:flex;
    align-items: center;
}

#search-result-ticker{
    color: #21ce99;
    font-size: 23px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
     min-width: 7vw;
     padding-top: 0.7vh;
}

#search-result-company{
    color: #21ce99;
    font-size: 23px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.7vh;
    padding-left: -3vw;
}

.result-li:hover{
    background: rgb(18, 17, 17);
    cursor: pointer;
}
.result-li-logout:hover{
    background: rgba(233, 233, 233, 0.226);
    cursor: pointer;
}  
/*LOGGEDIN*/
.loggedin{
    background-color: #1b1b1d;
    width: 100%;
    height: 200%;
    padding-top: 6%;
  }

.search-black {
  display: inline;
  width: 35vw;
  margin-left: 14%;
  border: 0.7px solid black;
  padding: 8px 11px;
  border-radius: 3px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #1b1b1d;
  min-height: 4vh;
  box-shadow: 0px -7px 10px #21ce99;

}
.search-input-black{
  border: none;
  background-color: #1b1b1d;
  width: 30vw;
  font-size: 17px;
  
}

.search-black:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  color: white;
  cursor: pointer;
}
.search-black:focus{
  box-shadow: 0px -7px 10px #21ce99;
  border: none;
  color: white;
  outline: none;
}
.magwhite{
  width: 1%;
  height: 1%;
  padding: 0 9px;
  display: relative;
  top: 3px;
}

.logowhite {
  width: 8%;
  height: 4%;
  display: inline;
  margin-left: 1%;
  margin-top: 8px;
  margin-right: 9%;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 10vw;
  margin-left: 18vw;
  list-style-type: none;
  
}

.account-button{
  border-bottom: 2px solid transparent;
  font-size: 24px;
  color: white;
  font-weight:bold;
  letter-spacing: 1px;
}
.account-button:hover {
  border-bottom: 2px solid aquamarine;
  color: aquamarine;
  cursor: pointer;

}

.dropdown-content {
  position: absolute;
  top: 40%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  color: white;
  background-color: #1b1b1d;
  min-width: 37vw;
  right: 0vw;
  padding-inline-start: 0;
}

.dropdown-content {
  list-style-type: none;
}

.dropdown-content > li {
  padding: 15px;
      font-size: 24px;
}
.dropdown-img {
  width: 6%;
  height: 6%;
  padding-right: 2vw;
}
.dropdown-content > li:hover  {
  background:rgb(21, 20, 20);
  cursor: pointer;
}

li > h6 {
  color: white;

}

#logout-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.loggedin-body{
  margin: 6vh 10vw;
  background: #1b1b1d;
  min-height: 150vh;
  position: relative;
}

.loggedin-h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 1vw;
  margin-bottom: 0;
  font-size: 3em;
}
.default-chart{
    width: 80vw;
    height: 20vh;
    background-color: #1b1b1d;
    margin-top: 20px;
}

.review{
  border: 1px solid black;
  height: 10%;
  align-items: center;
  position: relative;
}

.review > h6 {
  color: white;
  margin: 3vh 3vw;
  text-align: left;
  font-size: 24px;
}
#app-review{
  color: grey;
}
.company-watchlist {

  
}
.watchlist-ul{
  list-style-type: none;
//   position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1.5);
  background: #1b1b1d;
} 
ul.watchlist-ul {
  margin-left: 0;
  padding-inline-start: 0px;
}
#watchlist-header{
  padding: 5% 7%;
  font-size: 39px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.watchlist-ul > li {
  color: white;
  width: 86%;
  height: 87%;

  margin: auto;
}
.company-li{
  padding: 3% 7%;
  margin: 3px 0 0px 3px;
  font-size: 36px;

}
.company-li:hover {
  background: #232326;
  cursor: pointer;
}

#watchlist-link{
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#watch-item{
  padding-top: 4.3%;
}


/*LOGGEDOUT*/

.header-link > h4 {
  display: inline-block;
  font-size: 27px;
  color: black;
}
.default-searchbar {
  display: inline;
  margin-left: 5%;
  border: 0.7px solid rgba(128, 128, 128, 0.405);
  padding: 8px 11px;
  border-radius: 3px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  background-color: white;
}
.search-bar:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  cursor: pointer;
}
.search-bar:focus{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
}
.mag{
  position: relative;
  top: 3px;
  width: 1%;
  height: 1%;
  padding: 0 9px;
}
.search-input{
 border:  none;
 font-size: 22px;
 width: 28vw;
}
.search-input:focus{
 outline: none;
}
.home-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
     width: 72vw;
    margin: auto;
}
.home-free{
    width: 40%;
    margin-top: 16vh;

}

.home-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-left: 7%;
  margin-bottom: 10px;
  max-width: 391px;
  letter-spacing: 1.5px;
}
.home-p {
    margin-left: 8%;
    font-weight: 30;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 29px;
    color: black;
}

.below-free{
  margin: 19% 8%;;
  border-radius: 30px;
  padding: 12px 20px;
  background-color: #21ce99;
  color: white;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
  font-weight: bold;
}
.below-free:hover {
  text-decoration: underline;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.home-free > h3 {
  margin-left: 8%;
  color: #21ce99;;
  font-size: 15px;
  font-family:'Roboto', sans-serif;
  font-weight: 100;
  margin-top: 3vh;
}
.two-phones{
    height: 100%;
    overflow:hidden;
    z-index: -4;
}
.two-phones > img{
  z-index: -3;
  margin-top: 10%;
  margin-left: -1%;
  transform: translateY(-10%);
  -webkit-transition: height 0.9s ease-in-out;
  transition: height 0.9s ease-in-out;
}

h2 {
    color: black;
    padding-right: 7%;
    font-family: 'Roboto', sans-serif;
 
}
.logout-button{
  border-radius: 30px;
  padding: 7px 15px;
  background-color: rgba(140, 500, 212, 1.5);
  margin-top: -25px;
  margin-left: 10vw;
  display: inline;
  font-family: 'Roboto', sans-serif;
  border-style: none;
}
.logout-button > h6 {
  color: white;
  font-style: bold;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 4%;
  height: 4%;
  display: inline;
  margin-left: 1%;
  margin-top: 8px;
}
.login-signup{
  display: inline;
  margin-left: 10vw;
  align-items: right;
  font-family: 'Roboto', sans-serif;

}
.login-button {
  font-weight: 800;
  padding-right: 2%;
  color:black;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.login-button:hover {
  color: #21ce99;
  cursor: pointer;
  text-decoration: underline;
}
.signup-button {
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 12px 20px;
  background-color: #21ce99;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.signup-button:hover{
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.company-container{
    position: relative;
    background: #1b1b1d;
    width: 79vw;
    margin: auto;
    padding-top: 4vh;
    height: 120vh;
}


.company-info > li {
    color: white;
}

#company-name {
    color: white;
    font-size: 45px;
    font-weight: 400;
    min-width: 6vw;
}
#price {
    font-size: 45px;
    margin-top: -30px;
    display: inline;

}
#pchange {
    position: absolute;
    margin-top: 68px;
    display: inline-block;
    font-size: 20px;
    left: 0px;
}

h2, h5, p {
    color: white;
}

h5 {
    font-size: 28px;
}

#about {
     color: white;
    font-size: 36px;
    font-weight: 100;
    max-width: 60%;
}
#description {
     font-size: 25px;
    letter-spacing: 1px;
    max-width: 99%;
}
.add {
    position: absolute;
    top: 9vh;
    left: 55vw;
    min-width: 13vw;
    float: right;
    z-index: 5;
}
#appr{
    width:80%;
}
#website{
    text-decoration: none;
    color: white;
}
#website:hover {
    color: aquamarine;
}
#addwatch{
    border: 1px solid aquamarine;
    border-radius: 4px;
    padding: 6px 8px;
    position:fixed;
    min-height: 2vw;
    min-width: 13vw;
    text-align: center;

}
.watchbutton{
  outline: none;
  cursor: pointer;
  position: relative;
  top: 2px;
  font-size: 23px;
}
#addp {
    color: aquamarine;
    margin-top: 9px;
    font-weight: bold;
}
.chart-range{
    padding: 1% 1% 1% 0;
    // border-bottom: 1px solid black;
    width: 50%;
    box-sizing: border-box;
    // position: relative;

}
button {
    background: none;
    border: none;
    color: white;
    font-size: 23px;
    padding: 0 3% 0 0;
    font-weight: bold;
    
}
button:focus {
    color: aquamarine;
    outline: none;
}

.recharts-wrapper{
    margin-top: 4vh;
}
table {
    margin-left: -3vw;
    position: relative;
}
td {
    color: white;
    padding: 0.6vh 3vw;
    font-size: 20px;

}
.thead{
    font-weight: 1200;
}




}
