.header {
  margin-top: 10%;
}

.home-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.home-free{
    width: 50%;
    margin-left: 5%;
    margin-top: 100px;
}

.home-free > h1 {
    font-weight: bold;
    font-size: 50px;

}
.home-free > p {
    margin-left: 10%;
    font-weight: 30;
    width: 60%;
    margin-bottom: 30px;
    letter-spacing: 0.08em;
}
.two-phones{
    margin-left: -5%;
    height: 100%;
    overflow:hidden;
}
.two-phones > img{
  transform: translateY(-10%);
  transition: all 1s ease-in-out;
}

// .two-phones > img {
//     width: 90%;
//     height: 100%;
// }

hgroup {
  margin-left: 68%;
  align-items: right;
  flex-direction: row;
  display: flex;
}

h2 {
    color: black;
    padding-right: 10%;
}
.logout-button{
  border-radius: 30px;
  padding: 10px 20px;
  background-color: rgba(140, 500, 212, 1.5);
}
.logout-button > h6 {
  color: white;
  font-style: bold;
}

.below-free{
  margin: 16% 10%;;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: rgba(140, 500, 212, 1.5);
  color: white;
}

.home-free > h3 {
  margin-left: 10%;
  color: aquamarine
}