header {
  padding-bottom: 2%;
  display: inline;
}
body {
  height: 100%;
}

.header-link {
  text-decoration: none;
  margin-left: 10%;
  font-family: 'Roboto', sans-serif;
  display:inline;


/*LOGGEDIN*/
.loggedin-body{
  background: #1b1b1d;
}
.search-bar-black {
  display: inline;
  width: 30vw;
  margin-left: 7%;
  border: 0.7px solid rgba(128, 128, 128, 0.405);
  padding: 8px 11px;
  border-radius: 3px;
  transition: box-shadow 0.3s ease-in-out;
}
.search-input-black{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  color: white;
}

.search-bar-black:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  color: white;
}
.search-bar-black:focus{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
  color: white;
}
.magwhite{
  width: 1%;
  height: 1%;
  padding: 0 9px;
}

.logowhite {
  width: 4%;
  height: 4%;
  display: inline;
  margin-left: 1%;
  margin-top: 8px;
}


/*LOGGEDOUT*/
}
.header-link > h4 {
  display: inline-block;
  font-size: 27px;
  color: black;
}
.search-bar {
  display: inline;
  width: 30vw;
  margin-left: 7%;
  border: 0.7px solid rgba(128, 128, 128, 0.405);
  padding: 8px 11px;
  border-radius: 3px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.search-bar:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
}
.search-bar:focus{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: none;
}
.mag{
  width: 1%;
  height: 1%;
  padding: 0 9px;
}
.search-input{
 border:  none;
 font-size: 15px;
 width: 30vw;
}
.home-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.home-free{
    width: 40%;
    margin-left: 8%;
    margin-top: 90px;
}

.home-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-left: 3%;
  margin-bottom: 10px;
  width: 66%;
  letter-spacing: 1.5px;
}
.home-free > p {
    margin-left: 8%;
    font-weight: 30;
    width: 53%;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 0.08em;
    font-size: 18px;
}

.below-free{
  margin: 19% 8%;;
  border-radius: 30px;
  padding: 15px 20px;
  background-color: rgba(140, 500, 212, 1.5);
  color: white;
}

.home-free > h3 {
  margin-left: 8%;
  color: aquamarine;
}
.two-phones{
    margin-left: -5%;
    height: 100%;
    overflow:hidden;
}
.two-phones > img{
  margin-top: 5%;
  margin-left: -10%;
  transform: translateY(-10%);
  -webkit-transition: height 0.9s ease-in-out;
  transition: height 0.9s ease-in-out;
}

h2 {
    color: black;
    padding-right: 7%;
    font-family: 'Roboto', sans-serif;
 
}
.logout-button{
  border-radius: 30px;
  padding: 7px 15px;
  background-color: rgba(140, 500, 212, 1.5);
  margin-top: -25px;
  margin-left: 10vw;
  display: inline;
  font-family: 'Roboto', sans-serif;
  border-style: none;
}
.logout-button > h6 {
  color: white;
  font-style: bold;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 4%;
  height: 4%;
  display: inline;
  margin-left: 1%;
  margin-top: 8px;
}
.login-signup{
  display: inline;
  margin-left: 10vw;
  align-items: right;
  font-family: 'Roboto', sans-serif;

}
.login-button {
  font-weight: 800;
  padding-right: 2%;
  color:black;
  font-family: 'Roboto', sans-serif;
}
.login-button:hover {
  color: aquamarine;
}
.signup-button {
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 15px 20px;
  background-color: rgba(140, 500, 212, 1.5);
  font-family: 'Roboto', sans-serif;
  
}

.signup-button:hover{
  color: black;
}


