// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-form-container{
  background-color: aquamarine;
  height: 100vh;
  display: flex;
}
.login-pic {
  width: 50%;
  height: 100%;
  background-image: url("loginpage.png");
}
.login-form-box{
  padding-top: 3%;
  background-color: white;
  width: 50%;
}
.session-welcome{
  margin: 20% 0 1% 4%;
  padding-left: 5%;
  font-weight: 600;
}
.login-form{
  margin: 1% 10%;
}
h6 {
  text-align: left;
  color: black;
  font-size: 15px;
  margin: 5px 0;
  font-weight: 80;

}
.login-input{
    margin: 1% 0;
    padding: 2%;
    width: 68%;
    height: 10%;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: rgba(128, 128, 128, 0.05);
}

.login-input:hover{
  border: 1px solid aquamarine;
}
.login-input:focus{
  background-color: rgba(143, 179, 245, 0.23);
}

.demo {
  margin-top: 5%;
  padding: 3% 9%;
  color: black;
  background-color: rgba(128, 128, 128, 0.05);
  font-size: 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.demo:hover {
  color: white;
  background-color: rgb(140, 300, 212);
}
.session-submit{
  margin-top: 5%;
  margin-right: 5%;
  padding: 3% 9%;
  color: white;
  background-color: rgb(140, 300, 212);
  font-size: 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto', sans-serif;
}
.session-submit:hover{
   color: black;
  background-color: rgba(128, 128, 128, 0.05);
}

ul > li  {
  border-radius: 10px;
  text-align: left;
  position: relative;
  color:  rgb(13, 12, 21);
  padding: 2px;
  width: 68%;
  list-style-type: none;
}
ul {
  margin: 0;
}
.exclamation{
  width: 8%;
  height: 8%;
  display: inline;
  color:black;
  margin-left: -30px;
  margin-top: 6px;
}

* {
    font-family: 'Barlow', sans-serif;
}